<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- Configuración de documentos predeterminados -->
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>

        <!-- Configuración para iisnode -->
        <handlers>
            <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
        </handlers>

        <!-- Reescritura de URL para manejar todas las solicitudes con app.js -->
        <rewrite>
            <rules>
                <rule name="Nodejs">
                    <match url=".*" />
                    <action type="Rewrite" url="app.js" />
                </rule>
            </rules>
        </rewrite>

        <!-- Configuración de seguridad para ocultar carpetas específicas -->
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="node_modules" />
                    <add segment="iisnode" />
                </hiddenSegments>
            </requestFiltering>
        </security>

        <!-- Deshabilitar navegación de directorios -->
        <directoryBrowse enabled="false" />

        <!-- Configuración de entorno para iisnode -->
        <iisnode node_env="production" />
    </system.webServer>
</configuration>